<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="box" id="heading">
      <h1> <%=kindOfDay%> </h1>
    </div>
    <div class="box">

     <%  newListItems.forEach(function(item){ %>
       <form  action="/delete"  method="post">
         <div class="item">
           <input type="checkbox" name="checkbox" value=<%=item._id %>   onChange="this.form.submit()" >
            <p><%= item.name%> </p>
         </div>
         <input type="hidden" name="listName" value="<%=kindOfDay%>"></input>
       </form>



       <% }) %>


       <form class="item" action="/" method="post">
         <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
         <button type="submit" name="list" value="<%=kindOfDay%>">+</button>
       </form>
    </div>


  <footer><i>&#169</i> 2021 Damini Pandey</footer>

  </body>
</html>
